#__layout::-webkit-scrollbar {
    width: 8px;
}
  
#__layout::-webkit-scrollbar-track {
background: #f1f1f1;
}

#__layout::-webkit-scrollbar-thumb {
background: #44b97c;
}

#__layout::-webkit-scrollbar-thumb:hover {
background: #227b4d;
}